<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>Useful Links:</h3>
      <br/>
      
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Twitter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Linkdin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gmail</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h1>Change Your Password</h1>
      <br/>
      <h3 style="color:orange;">{{o}}</h3>
          <br/>
              
           <form #changepass = "ngForm" (ngSubmit) = "onClickSubmit(changepass.value)">
           <table>
            
             <tr>
             <td><label>New Password</label></td>
             <td><input type="password" name="pass"  ngModel /></td>
             </tr>
            
             <tr>
             <td><input type="submit" name="s" /></td>
             </tr>
             
           </table>	
           <br/>
           </form>
      
      <br/>
    </div>
  </div>
</div>

