<div class="jumbotron  bg-light-50 text-white" style="margin-bottom:0;height: 200px;" >

    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                        <h1 class="text-dark">PostKrde.com</h1>
                        <h2 class="text-dark">Buy & Sell anything!!</h2>
                    </div>
                    <div class="col-sm-6">
                            <h4 class="text-dark">Toll Free: XX XX XX XXXX</h4>
                            
                        </div>
</div>
</div>

</div>