

<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h3>Useful Links:</h3>
        <br/>
        
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Linkdin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gmail</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h1>Contact Page</h1>
        <br/>
        <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi repellat vero quia deleniti magnam quos qui fuga iusto autem nostrum culpa illum excepturi cupiditate, tenetur animi. Magnam, ipsam optio!

          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo iste ut assumenda dolorum! Delectus neque ea et ducimus perferendis placeat facilis perspiciatis nemo eligendi minus? A debitis nobis excepturi quod.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum nihil cum qui ullam deleniti distinctio adipisci dolore laborum, fugiat architecto sint commodi, labore minima ratione quia voluptatum, eos non?  
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id alias nisi ad molestias, rem velit natus molestiae voluptatibus soluta quis aut impedit nostrum animi nihil, dolorem pariatur nesciunt suscipit est?   
        </b>
        </p>
        <br/>
        <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nisi repellat vero quia deleniti magnam quos qui fuga iusto autem nostrum culpa illum excepturi cupiditate, tenetur animi. Magnam, ipsam optio!

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo iste ut assumenda dolorum! Delectus neque ea et ducimus perferendis placeat facilis perspiciatis nemo eligendi minus? A debitis nobis excepturi quod.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum nihil cum qui ullam deleniti distinctio adipisci dolore laborum, fugiat architecto sint commodi, labore minima ratione quia voluptatum, eos non?  
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id alias nisi ad molestias, rem velit natus molestiae voluptatibus soluta quis aut impedit nostrum animi nihil, dolorem pariatur nesciunt suscipit est?   
          </b>
          </p>
        <br/>
        
      </div>
    </div>
  </div>