<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h3>Categories:</h3>
      <br/>
      
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let obj of clist">
          <h5 style="color:gray" (click)="passdata({'cnm':obj.cnm})">{{obj.cnm}}</h5>
        </li>
        
      </ul>
      <br/>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h1>SubCategories..!!</h1>
      <br/>

      <div id="catdiv" *ngFor="let obj of sclist">
        
        <div class="catdivp" style="text-align:center" (click)="getads({'subcnm':obj.subcnm})">
        
        <img src="../../assets/uploads/{{obj.subcicon}}" height="80" width="100" class="rounded-corners"/>
        <br><br>
        <b>{{obj.subcnm}}</b>
        
        </div>
        
        
      </div>           
  </div>

      <br/>
    </div>
  </div>
